* {
    margin: 0;
    padding: 0;
}

body {
    background: white;
    font-family: 'Manjari', sans-serif;
    color: black;
    width: 100%;
    height: 100vh;
}
.flex-container{
    column-count: 4;
    color: black;
    width: 100%;
    flex-direction: column;
    align-content: space-around;
}
.iconp1{
    display: flex;
    justify-content: flex-start;
}
.iconp1 img{
    width: 20px;
    height: 20px;
}
.iconp2{
    display: flex;
    justify-content: flex-start;
}
.iconp2 img{
    width: 20px;
    height: 20px;
}
.iconp3{
    display: flex;
    justify-content: flex-start;
}
.iconp3 img{
    width: 20px;
    height: 20px;
}
.iconp4{
    display: flex;
    justify-content: flex-end;
}
.iconp4 img{
    width: 20px;
    height: 20px;
}
.iconp5{
    display: flex;
    justify-content: flex-end;
}
.iconp5 img{
    width: 20px;
    height: 20px;
}
.iconrelog{
  width: 30px;
  height: 30px;
}
.p1{
    display: flex;
    justify-content: flex-start;
}
.flex-container2{
    column-count: 6;
    color: black;
    width: 100%;
    flex-direction: column;
}
.iconp6{
    display: flex;
    justify-content: flex-start;
}
.iconp6 img{
    width: 20px;
    height: 20px;
}
.iconp7{
    display: flex;
    justify-content: flex-start;
}
.iconp7 img{
    width: 20px;
    height: 20px;
}
.flex-container3{
    column-count: 6;
    color: black;
    width: 100%;
    flex-direction: column;
}
.iconp8{
    display: flex;
    justify-content: flex-start;
}
.iconp8 img{
    width: 20px;
    height: 20px;
}
.iconp9{
    display: flex;
    justify-content: flex-start;
}
.iconp9 img{
    width: 20px;
    height: 20px;
}
.button {
    background-color: rgb(0, 149, 255);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .P2{
    display: flex;
    justify-content: flex-end;
  }
  .P3{
    display: flex;
    align-self: stretch;
  }
    
  .plans-container--card {
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 50px 30px 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  }